<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Daniel Iwaniec | Simple blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <style>
      .site-footer {text-align: center;}
    </style>
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">Daniel Iwaniec</h1>
      <h2 class="project-tagline">Simple blog</h2>
      <a href="/" class="btn">posts</a>
      <a href="/about" class="btn">about</a>
    </header>
    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer"><span class="site-footer-credits">You can <a href="/about">contact me</a></span></footer>
    </main>
  </body>
</html>
